/* The browser window */
.fw-container {
  width: 60%;
}

.fw-toolbar {
  padding: 10px;
  background: #f1f1f1;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}

.fw-buttons {
  float: left;
}

/* Clear floats after the columns */
.fw-toolbar:after {
  content: "";
  display: table;
  clear: both;
}

/* Three dots */
.fw-dot {
  margin-top: 4px;
  margin-right: 4px;
  height: 12px;
  width: 12px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
}
.red{
  background: #ed594a;
}
.yellow{
  background: #fdd800;
}
.green{
  background: #5ac05a;
}

/* Page content */
.fw-content {
  background-color: #171b18;
  font-family: 'Courier New', Courier, monospace;
  color: white;
  padding: 10px;
  border-left: 3px solid #f1f1f1;
  border-right: 3px solid #f1f1f1;
  border-bottom: 3px solid #f1f1f1;

  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
}

@media screen and (max-width:480px) {
  .fw-container{
    width: 60%;
    text-align: left;
  }
  
}